%h1.text-center.page-header We're about to deploy a copy of #{params[:owner]}/#{params[:name]} to Heroku

%p This process involves several steps can take 30 minutes or more depending on the size of the repo and how many people are waiting for other apps to deploy. Once completed, you can clone your repo directly from heroku and make changes. Please refer to the README in your app's github repo for any additonal info about configuring your app on Heroku.

%p.text-center
  = link_to "Deploy it!", deploys_path(deploy: {owner: params[:owner], name: params[:name] }), class: 'btn btn-primary', method: 'post'