%p This will deploy a new instance of #{params[:owner]}/#{params[:name]} to Heroku

= link_to "OK! Go!", apps_path(app: {owner: params[:owner], name: params[:name] }), class: 'btn btn-primary', method: 'post'