.alert.alert-success
  Creating a new heroku app #{@app.create_response['web_url']}
.alert.alert-warning
  Cloning the repo and pushing to the new app
.alert.alert-warning
  Transfering ownership to you